#main_menu{
    margin-left: 120px;
}
#navbarNav{
    margin-left: 180px;
}
.nav-item{
    margin-left: 50px;
}
.icon-info p{
    font-size: 12px;
}
.icon-info h5{
    font-size: 14px;
}
.w3-services-ab{
    background: var(--bg-grey);
}

.title-small {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Spartan', sans-serif;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}
.title-big {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}
.w3l-homeblock1 .feature-gd {
    grid-template-columns: 40px 1fr;
    display: grid;
    grid-gap: 15px;
    background: var(--bg-color);
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}
.color-green {
    border-top: 2px solid #89ba16;
}
.color-orange {
    border-top: 2px solid #ff0000;
}
.color-blue {
    border-top: 2px solid #0077c8;
}
.color-pink {
    border-top: 2px solid #ff4f81;
}
.w3l-bottom-grids-6 .area-box {
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
}
.area-box p{
    font-size: 12px;
}
.area-box h4{
    font-size: 14px;
}
#howItWorks h3{
    font-size: 18px;
}
.w3l-bottom-grids-6 h4 a.title-head {
    font-size: 22px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    color: black;
}
.w3l-bottom-grids-6 .grids-feature span.fa {
    color: green;
    font-size: 30px;
}
.w3l-bottom-grids-6 .box-active {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 5%);
}
.w3l-grids-3 {
    background-color: gray;
}
ul{
    margin: 0;
    padding: 0;
}
.w3l-grids-3 ul.cont-4 li {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: black;
    font-weight: 600;
    margin-top: 10px;
}
li{
    list-style-type: none;
}
.stats_info {
    text-align: center;
    padding: 0 30px;
}
p.counter {
    font-size: 45px;
    font-weight: 600;
    color: green;
    margin: 30px 0;
    font-family: 'Spartan', sans-serif;
}
.w3l-features .feature-grid-left {
    align-self: center;
}
.w3l-features .box-wrap:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.w3l-features .call-grids-w3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.w3l-features .box-wrap {
    margin-top: 5px;
    padding: 40px 30px;
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: var(--bg-color);
}
.w3l-features .box-wrap h4 a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: var(--heading-color);
}
body a, button, .btn {
    cursor: pointer !important;
}
a, a:hover {
    text-decoration: none;
}
.w3l-footer footer.footer-28 {
    background: #1e1c32;
}
.w3l-footer h6.footer-title-28 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
.w3l-footer .footer-list-28 ul li, .w3l-footer .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
    list-style: none;
    margin-bottom: 5px;
}
.w3l-footer .footer-list-28 ul li a, .w3l-footer .footer-list-28 ul li p {
    color: #a3a3a7;
    line-height: 14px;
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
}
b, strong {
    font-weight: bolder;
}
.register{
    padding: 45px;
    background: #fff;
    box-shadow: 0 0 34px rgb(0 0 0 / 14%);
    border-radius: 21px;
}
#company{
    display: none;
}
.register button{
    background-color: #ef2221;
    /*margin: 15px auto 20px;*/
    border-radius: 7px;
    /*padding: 17px;*/
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: inherit;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}
.spinner-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* SPINNING CIRCLE */

.circle-border {
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
    animation: spin .8s linear 0s infinite;
}

.circle-core {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}


.demo{ font-family: 'Noto Sans', sans-serif; }
.panel{
    background: linear-gradient(to right, #2980b9, #2c3e50);
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);
}
.panel .panel-heading{
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}
.panel .panel-heading .title{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 40px;
    margin: 0;
}
.panel .panel-heading .btn{
    color: rgba(255,255,255,0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover{
    color: #fff;
    text-shadow: 3px 3px rgba(255,255,255,0.2);
}
.panel .panel-heading .form-control{
    color: #fff;
    background-color: transparent;
    width: 35%;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .form-control:focus{
    background-color: rgba(255,255,255,0.2);
    box-shadow: none;
    outline: none;
}
.panel .panel-heading .form-control::placeholder{
    color: rgba(255,255,255,0.5);
    font-size: 15px;
    font-weight: 500;
}
.panel .panel-body{ padding: 0; }
.panel .panel-body .table thead tr th{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
}
.panel .panel-body .table tbody tr td{
    color: #fff;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}
.panel .panel-body .table tbody tr:nth-child(even){ background-color: rgba(255,255,255,0.05); }
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .panel-body .table tbody .action-list li{
    display: inline-block;
    margin: 0 5px;
}
.panel .panel-body .table tbody .action-list li a{
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover{ text-shadow: 3px 3px 0 rgba(255,255,255,0.3); }
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #111;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -32px;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}
.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after{
    display: block;
}
.panel .panel-footer{
    color: #fff;
    background-color: transparent;
    padding: 15px;
    border: none;
}
.panel .panel-footer .col{ line-height: 35px; }
.pagination{ margin: 0; }
.pagination li a{
    color: #fff;
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 31px;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0 3px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.pagination li a:hover{
    color: #fff;
    background-color: transparent;
    border-color: rgba(255,255,255,0.2);
}
.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.pagination li:first-child a,
.pagination li:last-child a{
    border-radius: 50%;
}
.feature-grid-right p{
    font-size: 12px;
    font-family: cursive;
}
.feature-grid-right h3{
    font-size: 14px;
    font-family: "Gill Sans Extrabold", sans-serif;
}
@media only screen and (max-width:767px){
    .panel .panel-heading .title{
        text-align: center;
        margin: 0 0 10px;
    }
    .panel .panel-heading .btn_group{ text-align: center; }
}


@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
@media screen and (max-width: 768px){
    body,p{
        font-size: 36px;
    }
    .icon-info p{
        font-size: 36px;
    }
    .icon-info h5{
        font-size: 36px;
    }
    #howItWorks h3{
        font-size: 48px;
    }
    .area-box h4{
        font-size: 48px;
    }
    .area-box p{
        font-size: 36px;
    }
    .panel .panel-body .table tbody tr td{
        font-size: 24px;
    }
    .feature-grid-right p {
        font-size: 24px;
        font-family: cursive;
    }
    .feature-grid-right h3{
        font-size: 36px;
        font-family: cursive;
    }
    h5{
        font-size: 48px;
    }
    label{
        font-size: 40px;
    }
    .form-control{
        height: 64px;
    }
    .register button{
        height: 96px;
    }
}

#menu_select{
    display: none;
}
@media only screen and (max-device-width: 480px) {
    nav ul     { display: none; }
    .sidebar-header {display: none;}
    #menu_select { display: inline-block;
        font-size: 48px;
    }

}
@media only screen and (max-device-width: 480px) {
    #login{
        margin-left: -130px;
        margin-top: 100px;
        width: 970px;
    }
    #main_menu{
        font-size: 64px;
    }
    .title-big{
        font-size: 48px;
    }
    .img-effect{
        margin-left: -20px;
        width: 840px;
        height: 100%;
    }
    .icon-info h5{
        font-size: 48px;
    }
    .icon-info p{
        font-size: 36px;
    }
    .area-box h4{
        font-size: 48px;
    }
    .area-box p{
        font-size: 36px;
    }
    .stats-con h3{
        font-size: 48px;
    }
    .main-cont-wthree-2 h3{
        font-size: 48px;
    }
    .main-cont-wthree-2 p{
        font-size: 36px;
    }
    .stats-con p{
        font-size: 108px;
    }
    .mb-1{
        font-size: 24px;
        font-family: 'Spartan', sans-serif;
    }
    .nav-link{
        font-size: 48px;
    }
    #login h5{
        font-size: 96px;
    }
    #phone-label,#password-label,#sign{
        font-size: 84px;
    }
    #phone,#password{
        font-size: 72px;
    }
    #sign label{
        color: white;
        font-size: 96px;
    }
    #register_hint{
        font-size: 72px;
    }
    #remember{
        font-size: 72px;
    }
    #map iframe{
        width: 800px;
        height: 900px;
    }
    #footer{
        height: 600px;
    }
    .w3l-footer{
        margin-top: 200px;
    }
    #footer h6{
        font-size: 48px;
    }
    #footer p{
        font-size: 48px;
    }
    .w3l-footer .footer-list-28 ul li a, .w3l-footer .footer-list-28 ul li p{
        line-height: 1;
    }
}

